
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
   <tr>
      <td colspan="3" align="center" valign="top"><a href="/index.htm"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
   </tr>
   <tr>
      <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
            <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
               <tr>
                  <td align="left" valign="middle" class="menucopy"><ul id="MenuBar1" class="MenuBarVertical">
                     <li><a href="/index.htm" title="Home">Home</a>                        </li>
                     <li><a href="/conference_locations.htm" title="Conference Locations">Conference Locations</a></li>
                     <li><a href="/events.htm" title="Events">Events</a>                        </li>
                     <li><a href="/facilities.htm" title="Facilities">Facilities</a></li>
                     <li><a href="/program_suggestions.htm" title="Program Suggestions">Program Suggestions</a></li>
                     <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                        <ul>
                           <li><a href="/video.htm" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
                           <li><a href="/2011broadcast.htm" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
                           </ul>
                        </li>
                     <li><a href="/credits.htm" title="Continuing Education Credits">Continuing Education Credits</a></li>
                     <li><a href="/advisory_board.htm" title="Advisory Board">Advisory Board</a></li>
                     <li><a href="/faq.htm" title="FAQ">FAQ</a></li>
                     <li><a href="/about_us.htm" title="About Us">About Us</a></li>
                     <li><a href="/contact_us.htm" title="Contact Us">Contact Us</a></li>
                     </ul></td>
               </tr>
               </table></td>
            <td width="62%">&nbsp;</td>
         </tr>
      </table></td>
   </tr>
   <tr>
      <td colspan="3" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
         <tr>
            <td width="3%" align="center" valign="top">&nbsp;</td>
            <td width="36%" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion4" -->
               <table width="100%" border="0" cellpadding="6" cellspacing="0" class="border">
                  <tr>
                     <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                           <td width="17%" align="center"><a href="/http://get.adobe.com/reader/" target="_blank"><img src="images/acrobat_reader_165x165.jpg" alt="" width="34" height="34" border="0" /></a></td>
                           <td width="83%"><p> Acrobat Reader required to view the following PDFs. <a href="/http://get.adobe.com/reader/" target="_blank">CLICK HERE</a></p></td>
                        </tr>
                     </table></td>
                  </tr>
               </table>
               <p class="video"><a href="/images/2011ppt/New Child Psychiatric services for Physicians in Wyoming_02082011 (2).pdf" target="_blank">New Child Psychiatric services for <br />
                  Physicians in Wyoming</a></p>
               <p class="video">Motivational Interviewing:<br />                  
                  <a href="/images/2011ppt/One hour 2011 TA Ranch.pdf" target="_blank">One Hour 2011 TA Ranch</a><br />
                     <a href="/images/2011ppt/assist_v3_english.pdf" target="_blank">WHO - ASSIST V3.0</a></p>
               <p class="video">Medication Assisted Therapies:<br />
                  <a href="/images/2011ppt/Menzies1_Integrated_Treatment_Recidivism.pdf" target="_blank">Menzies1: Integrated Treatment Recidivism</a></p>
               <p class="video"><a href="/images/2011ppt/Menzies2_Treating the addicted Brain - Advances in treatment ofaddictions.ppt Wyoming.pdf" target="_blank">Menzies 2: Treating the Addicted Brain - Advances in treatment of Addictions</a></p>
               <p class="video"><a href="/images/2011ppt/Menzies3_Neurobiology of Addiction.pdf" target="_blank">Menzies 3: Neurobiology of Addiction</a></p>
               <p class="video"><a href="/images/2011ppt/Prescribing Boundaries.pdf" target="_blank">Prescribing Boundaries</a></p>
               <p class="video"><a href="/images/2011ppt/Bd of Medicine FINAL - 2-1-2011.pdf">Regulatory Considerations: <br />                  
               Board of Medicine FINAL</a></p>
               <p class="video"><a href="//evaluation"><img src="/images/evaluation.gif" alt="" border="0" /></a></p>
            <!-- InstanceEndEditable --></td>
            <td width="57%" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
               <h1>Video               </h1>
               <table width="100%" border="0" cellpadding="13" cellspacing="0" class="border">
                  <tr>
                     <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                           <td width="71%" align="center" valign="middle"><!-- BEGIN Embed Code -->
                            <OBJECT ID="MediaPlayer" WIDTH="320" HEIGHT="286" CLASSID="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
                            STANDBY="Loading Windows Media Player components..." TYPE="application/x-oleobject">
                            <PARAM NAME="FileName" VALUE="http://pointers.audiovideoweb.com/stcasx/5c3winlive2237/play.asx">
                            <PARAM name="autostart" VALUE="true">
                            <PARAM name="ShowControls" VALUE="true">
                            <param name="ShowStatusBar" value="false">
                            <PARAM name="ShowDisplay" VALUE="false">
                            <EMBED TYPE="application/x-mplayer2" SRC="http://pointers.audiovideoweb.com/stcasx/5c3winlive2237/play.asx" NAME="MediaPlayer"
                            WIDTH="320" HEIGHT="286" ShowControls="1" ShowStatusBar="0" ShowDisplay="0" autostart="1"> </EMBED>
                            </OBJECT>
                            <!-- END Embed Code --></td>
                           <td width="29%" height="260"><img src="images/tahealthvideo.gif" alt="" width="118" height="238" /></td>
                        </tr>
                     </table></td>
                  </tr>
         </table>
               <p class="credits"><em>Double click on the video stream to enalrge, press &quot;Esc&quot; to make it smaller.</em></p>
               <p><strong>If you're having trouble with this video, or have questions please call or email the address below:</strong></p>
               <p>                  (307) 684-5833 or 
                  (307) 684-5663<br />
                  <a href="/mailto:question@tahealth.org">question@tahealth.org</a></p>
            <!-- InstanceEndEditable --></td>
            <td width="4%" align="left" valign="top">&nbsp;</td>
         </tr>
      </table></td>
   </tr>
   <tr>
      <td width="375" align="center" valign="middle"><a href="/credits.htm" class="credits"><strong>&nbsp;&nbsp; Looking for your CEU/CME credits? CLICK HERE</strong></a></td>
      <td width="398" align="center" valign="middle">&nbsp;</td>
      <td width="182" align="right" valign="bottom">&nbsp;</td>
   </tr>
   <tr>
      <td height="40" colspan="3" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
         <tr>
            <td height="50" align="center" class="footer"><a href="/index.htm">Home</a> &bull; <a href="/conference_locations.htm">Conference Locations</a> &bull; <a href="/events.htm">Events</a> &bull; <a href="/facilities.htm">Facilities</a> &bull; <a href="/program_suggestions.htm">Program Suggestions</a> &bull; <a href="/video.htm">Video Streaming</a><a href="/credits.htm"><br />
            Continuing Education Credits</a>            &bull; <a href="/advisory_board.htm">Advisory Board</a> &bull; <a href="/faq.htm">FAQ</a> &bull; <a href="/about_us.htm">About Us</a> &bull; <a href="/contact_us.htm">Contact Us</a></td></tr></table>
         <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
         <tr>
         </tr>
         <tr>
            <td height="58" align="center" valign="top" class="copyright"><br />               
            &copy;2011 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
         </tr>
      </table></td>
   </tr>
</table>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"/js/SpryAssets/SpryMenuBarRightHover.gif"});
</script>


