
<table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
   <tr>
      <td colspan="2" align="center" valign="top"><a href="/index.htm"><img src="images/masthead.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
   </tr>
   <tr>
      <td height="275" colspan="2" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
            <td width="38%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
               <tr>
                  <td align="left" valign="middle" class="menucopy"><a href="/index.htm">Home</a><br />
                     <a href="/register.htm">Registration</a><br />
                     <a href="/conference_locations.htm">Conference Locations </a><br />
                     <a href="/events.htm">Events</a><br />
                     <a href="/facilities.htm">Facilities</a><br />
                     <a href="/program_suggestions.htm">Program Suggestions </a><br />
                     <a href="/video.htm">Video Streaming</a><br />
                     <a href="/credits.htm">Continuing Education Credits </a><br />
                     <a href="/advisory_board.htm">Advisory Board </a><br />
                     <a href="/faq.htm">FAQ</a><br />
                     <a href="/about_us.htm">About Us </a> <br />
                     <a href="/contact_us.htm">Contact Us</a></td>
               </tr>
            </table></td>
            <td width="62%">&nbsp;</td>
         </tr>
      </table></td>
   </tr>
   <tr>
      <td colspan="2" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
         <tr>
            <td width="3%" align="center" valign="top">&nbsp;</td>
            <td width="36%" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion4" -->
               <table width="310" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                     <td><a href="/events.htm"><img src="images/mhsat.jpg" alt="Mental Health and Substance Abuse Training" width="310" height="188" border="0" /></a></td>
                  </tr>
               </table>
            <!-- InstanceEndEditable --></td>
            <td width="57%" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
               <h1>&nbsp; </h1>
               <h1>&nbsp;</h1>
               <h1>Mental Health and Substance Abuse Training<br />
                  <span style="color: #6BADA0">February 8-11, 2011</span>            </h1>
               <h1>ROOM ASSIGNMENTS</h1>
            <!-- InstanceEndEditable --></td>
            <td width="4%" align="left" valign="top">&nbsp;</td>
         </tr>
         <tr>
            <td align="center" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion5" -->
               <table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tr>
                     <td width="20%" align="left" valign="top"><p class="towns">Location</p></td>
                     <td width="20%" align="left" valign="top"><p class="towns">February 8</p></td>
                     <td width="20%" align="left" valign="top"><p class="towns">February 9</p></td>
                     <td width="20%" align="left" valign="top"><p class="towns">February 10</p></td>
                     <td width="20%" align="left" valign="top"><p class="towns">February 11</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Campbell County Memorial Hospital</strong></p></td>
                     <td align="left" valign="top"><p>Group Room <br />
                           <span class="smalltext">(5th floor of the hospital)</span></p></td>
                     <td align="left" valign="top"><p>Group Room <br />
                        <span class="smalltext">(5th floor of the hospital)</span></p></td>
                     <td align="left" valign="top"><p>Group Room <br />
                        <span class="smalltext">(5th floor of the hospital)</span></p></td>
                     <td align="left" valign="top"><p>Group Room <br />
                        <span class="smalltext">(5th floor of the hospital)</span></p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Cheyenne Regional Medical Center</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>East Campus, Grand Teton Room <br />
                        <span class="smalltext">(2600 East 19th Street)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>East Campus, Grand Teton Room <br />
                        <span class="smalltext">(2600 East 19th Street)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Main Campus, viewed in both Gannett Peak and the Computer Lab</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Main Campus, Auditorium A</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Hot Springs County Memorial Hospital</strong></p></td>
                     <td align="left" valign="top"><p>Conference Room</p></td>
                     <td align="left" valign="top"><p>Conference Room</p></td>
                     <td align="left" valign="top"><p>Conference Room</p></td>
                     <td align="left" valign="top"><p>Conference Room</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Ivinson Memorial Hospital</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Grand Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Saratoga Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Grand Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Grand Room</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Johnson County Healthcare Center</strong></p></td>
                     <td align="left" valign="top"><p>Medical Education Room</p></td>
                     <td align="left" valign="top"><p>Medical Education Room</p></td>
                     <td align="left" valign="top"><p>Medical Education Room</p></td>
                     <td align="left" valign="top"><p>Medical Education Room</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Lander Regional Hospital</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room</p></td>
                     </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Memorial Hospital of Converse County</strong></p></td>
                     <td align="left" valign="top"><p>Classroom 1</p></td>
                     <td align="left" valign="top"><p>Classroom 1</p></td>
                     <td align="left" valign="top"><p>Classroom 1</p></td>
                     <td align="left" valign="top"><p>Classroom 1</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Memorial Hospital Sweetwater County</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Classrooms 4 and 5</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Classrooms 4 and 5</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Computer Lab</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Classrooms 4 and 5</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Mountain View Regional Hospital</strong></p></td>
                     <td align="left" valign="top"><p>Conference Room A</p></td>
                     <td align="left" valign="top"><p>Conference Room A</p></td>
                     <td align="left" valign="top"><p>Conference Room A</p></td>
                     <td align="left" valign="top"><p>Conference Room A</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Platte County Memorial Hospital</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>East Meeting Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>East Meeting Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>East Meeting Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>East Meeting Room</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Powell Valley Health Care</strong></p></td>
                     <td align="left" valign="top"><p>Courtside Room<span class="smalltext"> <br />
                        (located  by front desk)</span></p></td>
                     <td align="left" valign="top"><p>Courtside Room<span class="smalltext"> <br />
(located  by front desk)</span></p></td>
                     <td align="left" valign="top"><p>Courtside Room<span class="smalltext"> <br />
(located  by front desk)</span></p></td>
                     <td align="left" valign="top"><p>Courtside Room<span class="smalltext"> <br />
(located  by front desk)</span></p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Riverton Memorial Hospital</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Hospital Classroom</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Hospital Classroom</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Hospital Classroom</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Hospital Classroom</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Sheridan Memorial Hospital</strong></p></td>
                     <td align="left" valign="top"><p>Boardroom <br />
                        <span class="smalltext">(3rd floor)</span></p></td>
                     <td align="left" valign="top"><p>Boardroom <br />
                        <span class="smalltext">(3rd floor)</span></p></td>
                     <td align="left" valign="top"><p>Boardroom <br />
                        <span class="smalltext">(3rd floor)</span></p></td>
                     <td align="left" valign="top"><p>Boardroom <br />
                        <span class="smalltext">(3rd floor)</span></p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>South Lincoln Medical Center</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Training Room<span class="smalltext"> <br />
                        (by Human Resources)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Training Room<span class="smalltext"> <br />
(by Human Resources)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Training Room<span class="smalltext"> <br />
(by Human Resources)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Training Room<span class="smalltext"> <br />
(by Human Resources)</span></p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>St. John's Medical Center</strong></p></td>
                     <td align="left" valign="top"><p>Otter Classroom </p></td>
                     <td align="left" valign="top"><p>Otter Classroom </p></td>
                     <td align="left" valign="top"><p>Otter Classroom </p></td>
                     <td align="left" valign="top"><p>Otter Classroom </p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Star Valley Medical Center</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Education Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Education Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Education Room</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Education Room</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Torrington Community Hospital </strong></p></td>
                     <td align="left" valign="top"><p>TBA</p></td>
                     <td align="left" valign="top"><p>TBA</p></td>
                     <td align="left" valign="top"><p>TBA</p></td>
                     <td align="left" valign="top"><p>TBA</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Washakie Medical Center</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room A</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room A</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room A</p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Conference Room A</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Wyoming Medical Center</strong></p></td>
                     <td align="left" valign="top"><p>IS Conference Room <br />
                        <span class="smalltext">(3rd Floor Support Services Building)</span></p></td>
                     <td align="left" valign="top"><p>Support Services Boardroom <span class="smalltext">(1st floor Support Services Building)</span></p></td>
                     <td align="left" valign="top"><p>Community Development Conference Room <br />
                        <span class="smalltext">(3rd floor Support Services Building)</span></p></td>
                     <td align="left" valign="top"><p>IS Conference Room <br />
                        <span class="smalltext">(3rd Floor Support Services Building)</span></p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Web Broadcast</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><a href="/http://www.tahealth.org/broadcast">CLICK HERE</a></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><a href="/http://www.tahealth.org/broadcast">CLICK HERE</a></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><a href="/http://www.tahealth.org/broadcast">CLICK HERE</a></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><a href="/http://www.tahealth.org/broadcast">CLICK HERE</a></p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top"><p><strong>Wyoming State Hospital</strong></p></td>
                     <td align="left" valign="top"><p>APS Theatre</p></td>
                     <td align="left" valign="top"><p>APS Theatre</p></td>
                     <td align="left" valign="top"><p>APS Theatre</p></td>
                     <td align="left" valign="top"><p>APS Theatre</p></td>
                  </tr>
                  <tr>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p><strong>Sheridan VA Medical Center</strong></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Computer Training Lab <span class="smalltext">(located in Building 7)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Learning Center 200 <span class="smalltext">(located in Building 7)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Learning Center 200 <span class="smalltext">(located in Building 7)</span></p></td>
                     <td align="left" valign="top" bgcolor="#ECF4F2"><p>Learning Center 200 <span class="smalltext">(located in Building 7)</span></p></td>
                  </tr>
               </table>
            <!-- InstanceEndEditable --></td>
            <td align="left" valign="top">&nbsp;</td>
         </tr>
      </table></td>
   </tr>
   <tr>
      <td width="410" align="center" valign="middle"><a href="/credits.htm" class="credits"><strong>Looking for your CEU/CME credits? Click here.</strong></a></td>
      <td width="545" align="right" valign="bottom"><a href="/register.htm"><img src="images/register.gif" alt="Register" width="162" height="29" border="0" /></a></td>
   </tr>
   <tr>
      <td height="40" colspan="2" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
         <tr>
            <td height="50" align="center" class="footer"><a href="/index.htm">Home</a> &bull; <a href="/register.htm">Registration</a> &bull; <a href="/conference_locations.htm">Conference Locations</a> &bull; <a href="/events.htm">Events</a> &bull; <a href="/facilities.htm">Facilities</a> &bull; <a href="/program_suggestions.htm">Program Suggestions</a> &bull; <a href="/video.htm">Video Streaming</a><a href="/credits.htm"><br />
            Continuing Education Credits</a>            &bull; <a href="/advisory_board.htm">Advisory Board</a> &bull; <a href="/faq.htm">FAQ</a> &bull; <a href="/about_us.htm">About Us</a> &bull; <a href="/contact_us.htm">Contact Us</a></td></tr></table>
         <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
         <tr>
         </tr>
         <tr>
            <td height="58" align="center" valign="top" class="copyright"><br />               &copy;2010 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
         </tr>
      </table></td>
   </tr>
</table>


