{% extends 'home.html.twig' %}

{% block body %}
        
    <style type="text/css">
    .handout {font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #FFF;
    background-color: #6BADA0;
    font-weight: bold;
    padding: 2px 2px 2px 1px;
    }
    </style>
    <table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
       <tr>
          <td colspan="3" align="center" valign="top"><a href="index"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
       </tr>
       <tr>
          <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
                   <tr>
                      <td align="left" valign="middle" class="menucopy"><ul id="MenuBar1" class="MenuBarVertical">
                         <li><a href="index" title="Home">Home</a>                        </li>
                         <li><a href="conference_locations" title="Conference Locations">Conference Locations</a></li>
                         <li><a href="events" title="Events">Events</a>                        </li>
                         <li><a href="facilities" title="Facilities">Facilities</a></li>
                         <li><a href="program_suggestions" title="Program Suggestions">Program Suggestions</a></li>
                         <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                            <ul>
                               <li><a href="video" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
                               <li><a href="2011broadcast" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
                               </ul>
                            </li>
                         <li><a href="credits" title="Continuing Education Credits">Continuing Education Credits</a></li>
                         <li><a href="advisory_board" title="Advisory Board">Advisory Board</a></li>
                         <li><a href="faq" title="FAQ">FAQ</a></li>
                         <li><a href="about_us" title="About Us">About Us</a></li>
                         <li><a href="contact_us" title="Contact Us">Contact Us</a></li>
                         </ul></td>
                   </tr>
                   </table></td>
                <td width="62%">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td colspan="3" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
             <tr>
                <td width="3%" align="center" valign="top">&nbsp;</td>
                <td width="36%" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion4" -->
                   <table width="100%" border="0" cellpadding="6" cellspacing="0" class="border">
                      <tr>
                         <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                               <td width="17%" align="center"><img src="images/acrobat_reader_165x165.jpg" width="34" height="34" /></td>
                               <td width="83%"><p> Acrobat Reader required to view the following PDFs. <a href="http://get.adobe.com/reader/" target="_blank">CLICK HERE</a></p></td>
                            </tr>
                         </table></td>
                      </tr>
                   </table>
                   <p class="video">Tuesday 8:00-9:30am <br />
                      <a href="2011broadcast"><strong>A Review of New Child Psychiatric Services for Wyoming Physicians</strong></a><br />
                      Dr. James Bush </p>
                   <p class="video">Tuesday 9:45-10:45 am <br />
                      <a href="2011broadcast2"><strong>Motivational Interviewing: <br />
                         Empowering Patients to Change</strong></a><br />
                      Dr. Catherine Donaldson and Kathy Cordell</p>
                   <p class="video">Wednesday 8:00-9:30 am<br />
                      <a href="2011broadcast3"><strong>The Psychobiology of Wellbeing</strong></a><br />
                      Dr. C. Robert Cloninger </p>
                   <p class="video">Wednesday 9:45-11:15 am <br />
                      <a href="2011broadcast4"><strong>Treating Suicidal Ideation in <br />
                         Children and Teens</strong></a><br />
                      Dr. Catherine Donaldson </p>
                   <p class="video">Wednesday 11:30 am-1:00 pm <br />
                      <a href="2011broadcast5"><strong>Medication Assisted Therapies: <br />
                      A Roundtable Discussion</strong></a></p>
                   <p class="video"> Thursday 8:00-9:30 am <br />
                      <a href="2011broadcast6"><strong>Prescription Drug Abuse: <br />
                         What You Can Do to Help</strong></a><br />
                      Shane Pitts </p>
                   <p class="video">Thursday 9:45-10:45 am <br />
                      <a href="2011broadcast7"><strong>Prescribing Within the Guidelines</strong></a><br />
                      Mark Walter </p>
                   <p class="video">Thursday 11:00 am-12:30 pm<br />
                      <a href="2011broadcast8"><strong>What is a DRE? <br />
                         The Importance of Drug Recognition <br />
                         Experts in combating Substance Abuse</strong></a><br />
                      Jonlee Anderle</p>
                   <p class="video">Friday 8:00-9:30 am <br />
                      <a href="2011broadcast9"><strong>What We've Learned from the First Ever Analysis of the Wyoming Prescription Drug Monitoring Program</strong></a><br />
                      Steven Butler, Brian Harnish, David Wills </p>
                   <p class="video">Friday 9:45-10:45 am <br />
                      <a href="2011broadcast10"><strong>Regulatory Considerations: <br />
                         What You Really Need to Know about Protecting the Public and Your License</strong></a><br />
                      Kevin Bohnenblust, Mary Kay Goetter, <br />
                      Richard Burton</p>
                   <p class="video">&nbsp;</p>
                <!-- InstanceEndEditable --></td>
                <td width="57%" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
                   <h1>Video               </h1>
                   <table width="100%" border="0" cellpadding="13" cellspacing="0" class="border">
                      <tr>
                         <td><p><strong class="menucopy">A Review of New Child Psychiatric Services for Wyoming Physicians</strong>                        </p>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                               <td width="71%" align="center" valign="middle"><!-- BEGIN Embed Code -->
                                <OBJECT ID="MediaPlayer" WIDTH="320" HEIGHT="286" CLASSID="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
                                STANDBY="Loading Windows Media Player components..." TYPE="application/x-oleobject">
                                <PARAM NAME="FileName" VALUE="http://pointers.audiovideoweb.com/stcasx/5c3winlive2237/play.asx">
                                <PARAM name="autostart" VALUE="true">
                                <PARAM name="ShowControls" VALUE="true">
                                <param name="ShowStatusBar" value="false">
                                <PARAM name="ShowDisplay" VALUE="false">
                                <EMBED TYPE="application/x-mplayer2" SRC="http://pointers.audiovideoweb.com/stcasx/5c3winlive2237/play.asx" NAME="MediaPlayer"
                                WIDTH="320" HEIGHT="286" ShowControls="1" ShowStatusBar="0" ShowDisplay="0" autostart="1"> </EMBED>
                                </OBJECT>
                                <!-- END Embed Code --></td>
                               <td width="29%" height="260"><img src="images/tahealthvideo.gif" alt="" width="118" height="238" /></td>
                            </tr>
                </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="2">
                               <tr>
                                  <td align="center" valign="top">&nbsp;</td>
                                  <td align="left" valign="top">&nbsp;</td>
                               </tr>
                               <tr>
                                  <td width="26%" align="center" valign="top"><span class="handout">&nbsp;  HANDOUT&nbsp; </span></td>
                                  <td width="74%" align="left" valign="top"><a href="images/2011ppt/New Child Psychiatric services for Physicians in Wyoming_02082011 (2).pdf" target="_blank" class="video"><em>New Child Psychiatric services for <br />
                                     Physicians in Wyoming</em></a></td>
                               </tr>
                         </table></td>
                      </tr>
             </table>
                   <p class="credits"><em>Double click on the video  to enalrge, press &quot;Esc&quot; to make it smaller.</em></p>
                   <p><strong>If you're having trouble with this video, or have questions please call or email the address below:</strong></p>
                   <p>                  (307) 684-5833 or 
                      (307) 684-5663<br />
                      <a href="mailto:question@tahealth.org">question@tahealth.org</a></p>
                <!-- InstanceEndEditable --></td>
                <td width="4%" align="left" valign="top">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td width="375" align="center" valign="middle"><a href="credits" class="credits"><strong>&nbsp;&nbsp; Looking for your CEU/CME credits? CLICK HERE</strong></a></td>
          <td width="398" align="center" valign="middle">&nbsp;</td>
          <td width="182" align="right" valign="bottom">&nbsp;</td>
       </tr>
       <tr>
          <td height="40" colspan="3" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                <td height="50" align="center" class="footer"><a href="index">Home</a> • <a href="conference_locations">Conference Locations</a> • <a href="events">Events</a> • <a href="facilities">Facilities</a> • <a href="program_suggestions">Program Suggestions</a> • <a href="video">Video Streaming</a><a href="credits"><br />
                Continuing Education Credits</a>            • <a href="advisory_board">Advisory Board</a> • <a href="faq">FAQ</a> • <a href="about_us">About Us</a> • <a href="contact_us">Contact Us</a></td></tr></table>
             <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
             </tr>
             <tr>
                <td height="58" align="center" valign="top" class="copyright"><br />               
                &copy;2011 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
             </tr>
          </table></td>
       </tr>
    </table>
    <script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"../SpryAssets/SpryMenuBarRightHover.gif"});
    </script>
    </body>
    <!-- InstanceEnd --></html>

{% endblock %}     