{% extends 'home.html.twig' %}

{% block body %}
        
    <table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
       <tr>
          <td colspan="3" align="center" valign="top"><a href="/index"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
       </tr>
       <tr>
          <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
                   <tr>
                      <td align="left" valign="middle" class="menucopy">
                        <ul id="MenuBar1" class="MenuBarVertical">
                         <li><a href="/index" title="Home">Home</a></li>
                         <li><a href="/register">Registration</a></li>
                         <li><a href="/conference_locations" title="Conference Locations">Conference Locations</a></li>
                         <li><a href="/events" title="Events">Events</a></li>
                         <li><a href="/facilities" title="Facilities">Facilities</a></li>
                         <li><a href="/program_suggestions" title="Program Suggestions">Program Suggestions</a></li>
                         <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                            <ul>
                               <li><a href="/video" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
                               <li><a href="/2011broadcast" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
                               </ul>
                            </li>
                         <li><a href="/credits" title="Continuing Education Credits">Continuing Education Credits</a></li>
                         <li><a href="/advisory_board" title="Advisory Board">Advisory Board</a></li>
                         <li><a href="/faq" title="FAQ">FAQ</a></li>
                         <li><a href="/about_us" title="About Us">About Us</a></li>
                         <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                         </ul></td>
                   </tr>
                   </table></td>
                <td width="62%">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td colspan="3" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
             <tr>
                <td width="3%" align="center" valign="top">&nbsp;</td>
                <td width="36%" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion4" -->
                   <table width="310" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                         <td><a href="/events"><img src="images/mhsat.jpg" alt="Mental Health and Substance Abuse Training" width="310" height="188" border="0" /></a></td>
                      </tr>
                   </table>
                <!-- InstanceEndEditable --></td>
                <td width="57%" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
                   <h1>About TA Health Education Foundation</h1>
                   <p>  The TA Health Education Foundation (TA HEF) was founded in 2008 to address the unique health care challenges facing rural communities. We bring cutting edge medical education to the nation's rural healthcare providers by teaming with health care industry constituents to deliver timely and relevant programming to advance the practice of rural medicine.   </p>
                   <p>We know that that health care practitioners in rural communities have different needs and concerns than their counterparts in large urban areas-the areas where the majority of training is developed and conducted. Not only are the medical issues different, it is often impossible for rural-community practitioners to travel to training-their case loads are too heavy and the need for them in the community too great for them to take a week off for training, no matter how beneficial.   </p>
                   <p>That's where we fit in. The TA HEF supplies an historic western setting offering state-of-the-art fiberoptic broadband access for live 2-way video conferencing. We work with leading health care practitioners to develop relevant courses, and we deliver that training to you in your community. That means you don't need to travel...you just need to walk across the hall to a conference room, or join us online at your desktop, and then return to your patients after. You get the best of both worlds-the connection and real-time benefit of attending training alongside your peers with the convenience of on-line training. </p>
                   <p>The TA Health Education Foundation has teamed with the Wyoming Telehealth Network to reach health care practitioners in Wyoming. The Wyoming Telehealth Network reaches 24 of 26 hospitals in the state of Wyoming.            </p>
                <!-- InstanceEndEditable --></td>
                <td width="4%" align="left" valign="top">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td width="375" align="center" valign="middle"><a href="/credits" class="credits"><strong>&nbsp;&nbsp; Looking for your CEU/CME credits? CLICK HERE</strong></a></td>
          <td width="398" align="center" valign="middle">&nbsp;</td>
          <td width="182" align="right" valign="bottom">&nbsp;</td>
       </tr>
       <tr>
          <td height="40" colspan="3" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                <td height="50" align="center" class="footer"><a href="/index">Home</a> &bull; <a href="/conference_locations">Conference Locations</a> &bull; <a href="/events">Events</a> &bull; <a href="/facilities">Facilities</a> &bull; <a href="/program_suggestions">Program Suggestions</a> &bull; <a href="/video">Video Streaming</a><a href="/credits"><br />
                Continuing Education Credits</a>            &bull; <a href="/advisory_board">Advisory Board</a> &bull; <a href="/faq">FAQ</a> &bull; <a href="/about_us">About Us</a> &bull; <a href="/contact_us">Contact Us</a></td></tr></table>
             <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
             </tr>
             <tr>
                <td height="58" align="center" valign="top" class="copyright"><br />               
                &copy;2011 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
             </tr>
          </table></td>
       </tr>
    </table>
    <script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"/js/SpryAssets/SpryMenuBarRightHover.gif"});
    </script>

{% endblock %}