{% extends 'home.html.twig' %}

{% block body %}
    
    <table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
       <tr>
          <td colspan="3" align="center" valign="top"><a href="/index"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
       </tr>
       <tr>
          <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
                   <tr>
                      <td align="left" valign="middle" class="menucopy">
                        <ul id="MenuBar1" class="MenuBarVertical">
                         <li><a href="/index" title="Home">Home</a></li>
                         <li><a href="/register">Registration</a></li>
                         <li><a href="/conference_locations" title="Conference Locations">Conference Locations</a></li>
                         <li><a href="/events" title="Events">Events</a></li>
                         <li><a href="/facilities" title="Facilities">Facilities</a></li>
                         <li><a href="/program_suggestions" title="Program Suggestions">Program Suggestions</a></li>
                         <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                            <ul>
                               <li><a href="/video" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
                               <li><a href="/2011broadcast" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
                               </ul>
                            </li>
                         <li><a href="/credits" title="Continuing Education Credits">Continuing Education Credits</a></li>
                         <li><a href="/advisory_board" title="Advisory Board">Advisory Board</a></li>
                         <li><a href="/faq" title="FAQ">FAQ</a></li>
                         <li><a href="/about_us" title="About Us">About Us</a></li>
                         <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                         </ul></td>
                   </tr>
                   </table></td>
                <td width="62%">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td colspan="3" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
             <tr>
                <td width="3%" align="center" valign="top">&nbsp;</td>
                <td width="36%" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion4" -->
                   <table width="310" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                         <td><a href="/events"><img src="images/mhsat.jpg" alt="Mental Health and Substance Abuse Training" width="310" height="188" border="0" /></a></td>
                      </tr>
                   </table>
                <!-- InstanceEndEditable --></td>
                <td width="57%" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
                   <h1>Conference Locations</h1>
                   <p> For healthcare related events, the TA Health Education Center broadcasts to the following locations. Please contact one of these institutions to arrange for remote viewing of converence videocasts. </p>
                   <p><span class="towns">CHEYENNE</span><br />
                      Cheyenne Regional Medical Center </p>
                   <p><span class="towns">KEMMERER</span><br />
                      South Lincoln Medical CenterRER </p>
                   <p><span class="towns">ROCK SPRINGS </span><br />
                      Memorial Hospital Sweetwater County </p>
                   <p><span class="towns">THERMOPOLIS</span><br />
                      Hot Springs County Memorial Hospital </p>
                   <p><span class="towns">GILLETTE</span><br />
                      Campbell County Memorial Hospital </p>
                   <p><span class="towns">SUNDANCE</span><br />
                      Crook County Medical Services District </p>
                   <p><span class="towns">BUFFALO</span><br />
                      Johnson County Healthcare Center TA Guest Ranch </p>
                   <p><span class="towns">SHERIDAN</span><br />
                      Sheridan Memorial Hospital </p>
                   <p><span class="towns">BASIN</span><br />
                      South Big Horn County Hospital </p>
                   <p><span class="towns">AFTON</span><br />
                      Star Valley Medical Center </p>
                   <p><span class="towns">RIVERTON</span><br />
                      Riverton Memorial Hospital </p>
                   <p> <span class="towns">NEWCASTLE</span><br />
                      Weston County Health Services </p>
                   <p><span class="towns">POWELL</span><br />
                      Powell Valley Health Care </p>
                   <p><span class="towns">TORRINGTON</span><br />
                      Torrington Community Hospital </p>
                   <p><span class="towns">WHEATLAND</span><br />
                      Platte County Memorial Hospital </p>
                   <p><span class="towns">DOUGLAS</span><br />
                      Memorial Hospital of Converse County </p>
                   <p><span class="towns">LUSK</span><br />
                      Niobrara Health &amp; Life Center </p>
                   <p><span class="towns">LARAMIE</span><br />
                      Ivinson Memorial Hospital </p>
                   <p><span class="towns">RAWLINS</span><br />
                      Memorial Hospital of Carbon County </p>
                   <p><span class="towns">JACKSON</span><br />
                      St. John's Medical Center </p>
                   <p><span class="towns">WORLAND</span><br />
                      Worland/Lovell </p>
                <!-- InstanceEndEditable --></td>
                <td width="4%" align="left" valign="top">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td width="375" align="center" valign="middle"><a href="/credits" class="credits"><strong>&nbsp;&nbsp; Looking for your CEU/CME credits? CLICK HERE</strong></a></td>
          <td width="398" align="center" valign="middle">&nbsp;</td>
          <td width="182" align="right" valign="bottom">&nbsp;</td>
       </tr>
       <tr>
          <td height="40" colspan="3" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                <td height="50" align="center" class="footer"><a href="/index">Home</a> &bull; <a href="/conference_locations">Conference Locations</a> &bull; <a href="/events">Events</a> &bull; <a href="/facilities">Facilities</a> &bull; <a href="/program_suggestions">Program Suggestions</a> &bull; <a href="/video">Video Streaming</a><a href="/credits"><br />
                Continuing Education Credits</a>            &bull; <a href="/advisory_board">Advisory Board</a> &bull; <a href="/faq">FAQ</a> &bull; <a href="/about_us">About Us</a> &bull; <a href="/contact_us">Contact Us</a></td></tr></table>
             <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
             </tr>
             <tr>
                <td height="58" align="center" valign="top" class="copyright"><br />               
                &copy;2011 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
             </tr>
          </table></td>
       </tr>
    </table>
    <script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"/js/SpryAssets/SpryMenuBarRightHover.gif"});
    </script>
                   
{% endblock %}
