{% extends 'home.html.twig' %}

{% block body %}
    
    <table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
       <tr>
          <td colspan="3" align="center" valign="top"><a href="/index"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
       </tr>
       <tr>
          <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
                   <tr>
                      <td align="left" valign="middle" class="menucopy">
                        <ul id="MenuBar1" class="MenuBarVertical">
                         <li><a href="/index" title="Home">Home</a></li>
                         <li><a href="/register">Registration</a></li>
                         <li><a href="/conference_locations" title="Conference Locations">Conference Locations</a></li>
                         <li><a href="/events" title="Events">Events</a></li>
                         <li><a href="/facilities" title="Facilities">Facilities</a></li>
                         <li><a href="/program_suggestions" title="Program Suggestions">Program Suggestions</a></li>
                         <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                            <ul>
                               <li><a href="/video" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
                               <li><a href="/2011broadcast" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
                               </ul>
                            </li>
                         <li><a href="/credits" title="Continuing Education Credits">Continuing Education Credits</a></li>
                         <li><a href="/advisory_board" title="Advisory Board">Advisory Board</a></li>
                         <li><a href="/faq" title="FAQ">FAQ</a></li>
                         <li><a href="/about_us" title="About Us">About Us</a></li>
                         <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                         </ul></td>
                   </tr>
                   </table></td>
                <td width="62%">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td colspan="2" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
             <tr>
                <td width="3%" align="center" valign="top">&nbsp;</td>
                <td width="36%" align="center" valign="top"><!-- InstanceBeginEditable name="EditRegion4" -->
                   <table width="310" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                         <td><a href="/events"><img src="images/mhsat.jpg" alt="Mental Health and Substance Abuse Training" width="310" height="188" border="0" /></a></td>
                      </tr>
                   </table>
                <!-- InstanceEndEditable --></td>
                <td width="57%" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
                   <h1>&nbsp; </h1>
                   <h1>&nbsp;</h1>
                   <h1>&nbsp;</h1>
                   <h1>Mental Health and Substance Abuse Training<br />
                      <span style="color: #6BADA0">February 8-11, 2011</span>            </h1>
                <!-- InstanceEndEditable --></td>
                <td width="4%" align="left" valign="top">&nbsp;</td>
             </tr>
             <tr>
                <td align="center" valign="top">&nbsp;</td>
                <td colspan="2" align="left" valign="top"><!-- InstanceBeginEditable name="EditRegion5" -->
                   <p class="days"><strong>TUESDAY</strong></p>
                   <p>8:00-9:30 am <br />
                      <strong>The Physician's Assistance Line:  A New Resource for Wyoming Health Care Provider's </strong>               </p>
                   <blockquote>
                      <p>Wyoming faces great challenges in treating child and adolescent mental health. In Wyoming youth in foster care and institutions, are on more drugs at higher doses and at younger ages.  Furthermore, 80% of youth in the child welfare and juvenile justice system suffer from mental health disorders that are undiagnosed and/or untreated. Serious concerns have been expressed by Wyoming physicians about Wyoming's ability to provide appropriate, clinically based assessment and treatment due to Wyoming's severe shortage of child and adolescent psychiatrists.  Because every child and adolescent in Wyoming deserves appropriate clinical assessment and treatment, the Wyoming Department of Health now offers Wyoming's healthcare providers unprecedented access to psychiatric services through the University of Washington.  Join us as you learn </p>
                      <ul>
                         <li> How all youth referred to the legal system can receive psychiatric evaluation in a timely manner. </li>
                         <li> How to access elective consultation and collaborative care services for your child and adolescent patients. </li>
                         <li> Child and adolescent psychotropic medication standards set by the Office of Pharmacy Services, and the 2nd Opinion review of children and adolescents prescribed dosages outside those ranges. </li>
                      </ul>
                      <p><span style="color: #004D49"><em>James Bush</em></span><br />
                         James Bush joined the Wyoming Department of Health in March 2007 as Staff Physician and Medicaid Medical Director where his interests include implementing the Total Health Record and making Telehealth a working reality in Wyoming.  Prior to joining the Wyoming Department of Health, Dr. Bush had a solo practice in Internal Medicine in Fort Collins, CO.  Interested in Medical Policy and Organization, he has filled many roles including that of Chief of Staff at Poudre Valley Hospital, President of the Colorado Society of Internal Medicine, and President of the Fort Collins IPA . Enjoying teaching as well, Dr. Bush has been on the Clinical faculty of the U of Colorado for 23 years, and also involved with teaching Residents in Family Practice in Fort Collins. In 2010 Dr. Bush was elected to be Governor of the Wyoming Chapter of the American College of Physicians for 2011-2015.                  </p>
                   </blockquote>
                   <p>9:45-10:45 <br />
                      <strong>Motivational Interviewing:  Empowering Patients to Change</strong></p>
    <blockquote>
       <p>
          Motivational Interviewing (MI) has become an important tool in empowering patients to take an active role in their own health.  When people are focusing on their health (as when they are when they go to a clinic, doctor's office or hospital) they are more receptive to hearing how their life style choices impact their health.  A motivational interview conducted during these teachable moments can move a person to make healthier choices.  Studies conducted through federally funded programs in New Mexico, Massachusetts, Washington state and Wisconsin (among several others)  have shown high success rates for patients to either cut back or stop using alcohol and other drugs after participating in a motivational interview.                  </p>
       <p>SBIRT is an acronym that stands for screening, brief intervention and referral to treatment.  The SBIRT Wyoming project uses motivational interviewing skills as the foundation for screening patients for substance use (tobacco, alcohol and other drugs) and then motivating and/or educating them to cut back or stop substance use.  In this session, participants will learn: the basic principles of motivational interviewing, how MI techniques are being implemented in medical facilities around the world, the basic premise of the SBIRT program, how health care facilities can generate revenue using SBIRT and how medical personal around the state of Wyoming can be trained. </p>
       <p><em style="color: #004D49">Kathy Cordell<br />
       </em>Kathy Cordell received her BS degree in Microbiology from Montana State University in 1985. Since then, she has worked within the medical community in Cheyenne, Wyoming as a Medical Technologist, health care examiner and medical volunteer. She is now a certified Life Coach, receiving her training and credentials through the Institute For Life Coach Training. Kathy owns her own life coaching business called Freedom Steps Life Coaching (<a href="/http://www.freedomsteps.org" target="_blank">www.freedomsteps.org</a>).  She has been contracted by the Mental Health and Substance Abuse Division of the Wyoming Department of Health to conduct SBIRT pilot programs at the Cheyenne Community Clinic and Cheyenne Regional Medical Center. Due to the success of these pilot programs, Kathy gained a passion for sharing the vision of SBIRT (screening, brief intervention, referral to treatment for substance use) with other medical professionals. She has had extensive training in motivational interviewing techniques and facilitates training sessions at medical institutions around Wyoming to broaden the scope of SBIRT. </p>
    </blockquote>
                   <p class="days"><strong>WEDNESDAY</strong><br />
                   </p>
                   <p>8:00-9:30 am <br />
                      <strong>The Science of Wellbeing</strong>               </p>
                   <blockquote>
                      <p>Effective clinical practice depends on tools that facilitate nonstigmatized personality assessment, rapid development of a therapeutic alliance, and the guided development of self-awareness so that people learn how to live well.  As an expert in psychological medicine, the psychiatrist is uniquely qualified to develop a holistic treatment approach addressing the needs of the person's body, thoughts, and psyche for the promotion of health and well-being.  Personality assessment can be integrated into psychiatric practice in a way that is practical and that has many benefits for the psychiatrist and his or her patients.  Personal reflection on one's temperament and character profile promotes understanding without judging or blaming.  The dialogue between psychiatrist and patient about personality promotes the rapid development of a therapeutic alliance based on mutual respect, positive regard, and shared goals.  The expertise and empathy of the psychiatrist in knowing more about the person's strengths and vulnerabilities beyond even the person's own awareness builds respect, trust, and hope.  In this way, the assessment of personality promotes recovery of well-being and reduces disease and stigma.  Likewise, the psychiatrist is more effective and satisfied with practice, standing ready with expertise, patience, and compassion to assist patients to work and develop at their own chosen pace. </p>
                      <p><em style="color: #004D49">Claude Robert Cloninger<br />
                      </em>Claude Robert Cloninger is a psychiatrist and geneticist noted for his pioneering research on the biological, psychological, social, and spiritual foundation of both mental health and mental illness.   He is Wallace Renard Professor of Psychiatry, Professor of Psychology and of Genetics, and Director of the Center for Well-Being at Washington University in St. Louis.  Cloninger is a member of the evolutionary, neuroscience, and statistical genetics programs of the Division of Biology and Biomedical Sciences at Washington University, and is recognized as an expert clinician in the treatment of general psychopathology, substance dependence, and personality disorders.  Dr.Cloninger is the author or coauthor of at least 8 books and 400 articles including <span style="text-decoration: underline;">Feeling Good, The Science of Well Being</span> , <span style="text-decoration: underline;">Personality and Psychopathology</span> and <span style="text-decoration: underline;">Genetic Approaches in Mental Disorders</span> and is among the most highly cited psychiatrists and psychologists recognized by the Institute for Scientific Information. </p>
                   </blockquote>
                   <p>9:45-11:15 am <br />
                      <strong>Treating Suicidal Ideation in Children and Teens</strong>               </p>
                   <blockquote>
                      <p>Treating suicidal ideation in children is challenging and frightening.  This presentation explores the neurobiologic networks involved in emotional action pattern response circuits and the implication of maturity in treatment strategies for children and teens.  The significance of early childhood on the formation of lifelong emotional action patterns is explored and their implications to clinical solutions are explored.</p>
                      <p><em style="color: #004D49">Catherine Donaldson</em> <br />
                         Catherine Donaldson is an accomplished psychiatrist with over 35 years of experience in healthcare.  Ms. Donaldson received her MS in Public Health from the University of Minnesota School of Public Health in 1984.  In 2002 she earned her MD from the Oregon Health and Sciences University, completing her residency in psychiatry and a fellowship in Addiction Psychiatry in 2007 also at OHSU.  Ms. Donaldson currently works the Sheridan Veteran's Administration Mental Center.  Ms. Donaldson is Board certified in psychiatry.                  </p>
                   </blockquote>
                   <p>11:30-12:30 <br />
                      <strong>Medication Assisted Therapies:  A Roundtable Discussion</strong>               </p>
                   <blockquote>
                      <p>Advances in neuroscience and behavioral science have led to the development of medications to treat addictions ranging from opioids to nicotine.  Some treatment professionals have significantly improved outcomes by using these medications in addition to behavioral therapies like Motivational Interviewing and Cognitive Behavioral Therapy, and yet there is still controversy regarding the use of medication assisted therapies.  Join us for an exciting roundtable discussion of the pros and cons of medication assisted therapies.  In this presentation, we will be joined by three treatment professionals, each with a different viewpoint on medication assisted therapies.  A review of the science behind medication assisted therapies will be given, as well as an overview of the FDA approved addiction treatments available and a discussion of the conditions under these medications can be prescribed.   Participants should expect to take away a solid understanding of the power and limitations of medication assisted therapies. </p>
                      <p><em style="color: #004D49">Percy Menzies<br />
                      </em>Percy Menzies is president of Assisted Recovery Centers of America, LLC, an alcoholism and drug addiction treatment center in St. Louis, Missouri.  Percy's passion for pharmacological treatment of drug addiction and alcoholism dates to the early eighties when naltrexone was first introduced for the treatment of heroin addiction.  As DuPont Pharmaceuticals' associate product director, he had responsibility for naltrexone.  He has worked closely with drug courts and provided training on the use of anticraving medications to reduce rates of recidivism within the criminal justice population addicted to alcohol and opioids.  He has conducted workshops for a ranges of audiences both in the US and over-seas on evidenced-based treatments for addictive disorders.  Percy hold a master's in pharmacy from India and is a credentialed Registered Substance Abuse Professional.  He was appointed to a 3-year term on the Missouri State Alcohol Advisory Council in 2009.  Percy immigrated to the United States in 1981.</p>
                      <p><span style="color: #004D49"><em>Bert Toews</em></span></p>
                      <p><em style="color: #004D49">Mark Walter</em></p>
    </blockquote>
                   <p class="days"><strong>THURSDAY</strong></p>
                   <p>8:00-9:30 am <br />
                      <strong>Kelly Rankin:  Opening Remarks</strong></p>
                   <p><strong>Prescription Drug Abuse:  What <em>YOU</em> Can Do to Help </strong></p>
                   <blockquote>
                      <p>According to the 2008 <u>National Survey on Drug Use and Health</u> (SAMHSA, September, 2009) 56% of people 12 and older reporting non-medical pain reliever use got the drug from a friend or relative for free.  Fighting prescription drug abuse occurs at every level;  from the proper disposal of unfinished prescriptions to the prevention of diversion by doctors and pharmacists.  Join us as Shane Pitts of the Drug Enforcement Agency reviews techniques doctors and pharmacists can employ to spot drug seeking behavior.  Learn about current drug trends in our area and the various methods by which controlled substances are diverted and used on the street and how you can help fight prescription drug abuse in Wyoming. </p>
                      <p><em style="color: #004D49">Shane Pitts/DEA agent</em><br />
                         Shane Pitts is a Diversion Investigator assigned to the Drug Enforcement Administration's Denver Field Office.   Mr. Pitts began his career with DEA in 2004 when he graduated from the Drug Enforcement Administration Diversion Training Academy.  He was assigned to the Denver Divisional Office where he was involved in and directed multi-state complex controlled substance investigations, both in Colorado and numerous other states.  Mr. Pitts obtained certification as an Emergency Medical Technician and has also been trained as a Diversion Recruiter.   Mr. Pitts holds a Bachelors of Science degree in Biology from the University of Massachusetts.   In 2009, Mr. Pitts was transferred to the DEA Denver Tactical Diversion Squad where he actively works criminal cases and gives presentations to DEA registrants and other Law Enforcement entities.   Mr. Pitts is married and has two beautiful children.  Mr. Pitts is an avid outdoorsman and adventure lover.                  </p>
                   </blockquote>
                   <p>9:45-10:45 am <br />
                      <strong>Prescribing Within the Guidelines:  Tips on Patient Management</strong></p>
                   <blockquote>
                      <p><em style="color: #004D49">Mark Walter</em></p>
                   </blockquote>
                   <p>11:00-12:30 <br />
                      <strong>What is a DRE?  The Importance of Drug Recognition Experts in Combating Substance Abuse</strong>               </p>
                   <blockquote>
                      <p>Drugged behaviors pose a threat to public safety, as evidenced by the number of fatal crashes each year on our Nation's highways. Law enforcement officials, addiction treatment specialists and healthcare professionals see the tragedies that too often result when people take drugs. It is well known that drugs, even those prescribed by a physician, can impair perception, judgment, motor skills, and memory. Recent surveys have shown how pervasive drug use has become in the United States. Fortunately, trained Drug Recognition Experts can help to identify drugged behavior, allowing law enforcement and healthcare professionals to hold them accountable, and get them off the road and into treatment. This session will explain the training a law enforcement officer must complete to become a Drug Recognition Expert so that healthcare professionals can understand the resources available to them through these officers and will provide some insight into the problem of drugged behaviors in Wyoming. </p>
                      <p><em style="color: #004D49">Jonlee Anderle<br />
                      </em>Lieutenant Jonlee Anderle has been with the Laramie Police Department since 1993 and is currently assigned to the Operations Division. He has been a SFST Instructor and Senior Intoximeter Operator for the Wyoming Chemical Testing Program since 1997 and has instructed numerous Wyoming law enforcement officers on Chemical Testing and DWUI investigation and enforcement. He is also the current Wyoming State Coordinator for the Drug Recognition Expert program and is a nationally certified Drug Recognition Expert and DRE Instructor. He is the Chairman of the Governor's Leadership Team to Prevent Impaired Driving and also serves on the Technical Advisory Panel for the Drug Recognition Expert Section of the International Association of Chiefs of Police. Lieutenant Anderle is a graduate of the University of Wyoming and holds a Bachelor's Degree in Business Administration and an Associate's Degree in Psychology.</p>
                   </blockquote>
                   <p class="days"><strong>FRIDAY</strong></p>
                   <p>8:00-9:30 am <br />
                      <strong>What We've Learned from the First Ever Analysis of the Wyoming Prescription Drug Monitoring Program</strong></p>
    <blockquote>
       <p>The Office of National Drug Control Policy warns that &quot;prescription drugs account for the second most commonly abused category of drugs… ahead of cocaine, heroin, methamphetamine, and other drugs.&quot;  The Wyoming Prescription Drug Monitoring Program (PDMP) study includes data collected by the Board of Pharmacy over 6 years (2004-2009). The PDMP tracks prescribing patterns of drugs with a greater likelihood of abuse--Schedule II and above drugs.  Join us in discovering what we've learned about Wyoming prescribing trends including </p>
       <ul>
          <li>4 million prescriptions were filled for 477,515 unique Wyoming persons.    </li>
          <li>Almost one-third of the total Wyoming population in each year of the study filled at least one prescription for a scheduled drug.  </li>
          <li> The most prescribed scheduled drugs were opioid analgesics—opioids alone accounted for over half of all prescriptions in the PDMP each year. </li>
          <li>Substantial differences were found in per capita prescriptions in some counties, with one Wyoming county in 2009 filling more than 3.5 times the number of prescriptions for opioid analgesics (per 1000 population) than the county with the lowest rate.   </li>
       </ul>
       <p>A short discussion of the Prescription Drug Monitoring Program will be included </p>
       <p><em style="color: #004D49">Steve Butler<br />
       </em>Since participating in the UW Sociology M.A. program, Steve Butler has conducted evaluation research and policy analysis for state government (the Wyoming Community College Commission), worked as an independent research consultant, and more recently, worked as a research scientist for the Wyoming Survey &amp; Analysis Center (WYSAC) at the University of Wyoming.  As a former policy analyst and then deputy director of the Wyoming Community College Commission, he both managed and evaluated programs involving complex mixes of stakeholder organizations. An evaluation of juvenile and adult drug courts in Wyoming, a year-long WYSAC project on which Butler was a principal investigator and the primary author, won the 2006 Philip Hoke National Publication Award for Excellence in Research/Policy Analysis given by the Justice Research and Statistics.  Other research projects/reports include: Scheduled Prescription Drug Distribution in Wyoming: Analysis of the Wyoming Prescription Drug Monitoring Program 2004-2009; The Wind River Indian Reservation Needs Determination Survey (WINDS III) 2010; Recidivism Survival Analysis of the Serious and Violent Offender Reentry Initiative 2003-2007; District Variation in Special Education Spending in Wyoming. </p>
    </blockquote>
    <p>9:45-10:45 am <br />
                      <strong>Regulatory Considerations:  What You <span style="font-style: italic; font-size: 15px; color: #000;">Really</span> Need to Know about Protecting the Public and Your License</strong>               </p>
                   <blockquote>
                      <p>Regulatory agencies are charged with public protection first and foremost, but education of the Healthcare Professionals we regulate is also part of the mission. Vitally important safeguards and guidelines have been established to assure appropriate prescriptive practice.  This session is aimed at risk reduction for both the public and the licensee.  The Boards of Medicine, Pharmacy and Nursing have joined together to update Healthcare Professionals on important elements and changes in the Regulations.   Representatives of each Board will provide Healthcare Professionals with information necessary to protect themselves and their patients by following the established standards of safety. </p>
                      <p><span style="color: #004D49"><em>David Wills<br />
                      </em></span>David Wills is the Prescription Drug Monitoring Program Coordinator at the Wyoming State Board of Pharmacy.  He received his bachelor's degree in business from Park University and his MBA from the University of Phoenix.  David has provided many improvements to the program since joining the agency in 2008 including updating hardware, software, and data analysis.</p>
                      <p> <em style="color: #004D49">Kevin Bohnenblust<br />
                      </em>Kevin Bohnenblust is the Executive Director of the Wyoming Board of Medicine, holding that position since 2007.  Prior to that he was an attorney in private practice where his practice included health care compliance, government relations, health insurance and finance, and general business law.  In addition to providing legal counsel to Wyoming medical practices, Mr. Bohnenblust represented the Wyoming Association of Psychiatric Physicians before the Wyoming Legislature from 2003 to 2007.  Before that he was principal inside counsel for Blue Cross Blue Shield of Wyoming, and also served as the company's Compliance Officer and HIPAA Privacy Officer.  Mr. Bohnenblust received his J.D. from the University of Wyoming College of Law in 1986.  He is admitted to practice before all state and federal courts in Wyoming as well as the Tenth U.S. Court of Appeals. </p>
                      <p><em style="color: #004D49">Mary Kay Goetter<br />
                      </em>Mary Kay Goetter is a graduate of the University of Northern Colorado with a PhD in Nursing Education. She is currently the Executive Director of the Wyoming State Board of Nursing and a Nurse Scientist in the United States Air Force Reserves. </p>
                      <p><em style="color: #004D49">Richard Burton</em><br />
                         Richard Burton is a registered pharmacist with many years of experience and is a retired officer from the U S Public Health Service.  He is presently working with the WY State Board of Pharmacy as an Inspector and Compliance Officer.  Richard has been working with the Board of Pharmacy for 6 and ½ years inspecting retail and hospital pharmacies for compliance with the WY Pharmacy Act Rules and Regulations.  In addition to pharmacy inspections, Richard performs all the investigations conducted by the Board and was on the ground floor when Wyoming first started their prescription drug monitoring program in July 2004. </p>
                   </blockquote>
                <!-- InstanceEndEditable --></td>
                <td align="left" valign="top">&nbsp;</td>
             </tr>
          </table></td>
       </tr>
       <tr>
          <td width="410" align="center" valign="middle"><a href="/credits" class="credits"><strong>Looking for your CEU/CME credits? Click here.</strong></a></td>
          <td width="545" align="right" valign="bottom"><a href="/register"><img src="images/register.gif" alt="Register" width="162" height="29" border="0" /></a></td>
       </tr>
       <tr>
          <td height="40" colspan="2" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                <td height="50" align="center" class="footer"><a href="/index">Home</a> • <a href="/register">Registration</a> • <a href="/conference_locations">Conference Locations</a> • <a href="/events">Events</a> • <a href="/facilities">Facilities</a> • <a href="/program_suggestions">Program Suggestions</a> • <a href="/video">Video Streaming</a><a href="/credits"><br />
                Continuing Education Credits</a>            • <a href="/advisory_board">Advisory Board</a> • <a href="/faq">FAQ</a> • <a href="/about_us">About Us</a> • <a href="/contact_us">Contact Us</a></td></tr></table>
             <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
             </tr>
             <tr>
                <td height="58" align="center" valign="top" class="copyright"><br />               &copy;2010 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
             </tr>
          </table></td>
       </tr>
    </table>
    
{% endblock %}