{% extends 'home.html.twig' %} 

{% block body %}           

    <table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
       <tr>
          <td colspan="3" align="center" valign="top"><a href="/index"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
       </tr>
       <tr>
          <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
                   <tr>
                      <td align="left" valign="middle" class="menucopy">
                        <ul id="MenuBar1" class="MenuBarVertical">
                         <li><a href="/index" title="Home">Home</a></li>
                         <li><a href="/register">Registration</a></li>
                         <li><a href="/conference_locations" title="Conference Locations">Conference Locations</a></li>
                         <li><a href="/events" title="Events">Events</a></li>
                         <li><a href="/facilities" title="Facilities">Facilities</a></li>
                         <li><a href="/program_suggestions" title="Program Suggestions">Program Suggestions</a></li>
                         <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                            <ul>
                               <li><a href="/video" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
                               <li><a href="/2011broadcast" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
                               </ul>
                            </li>
                         <li><a href="/credits" title="Continuing Education Credits">Continuing Education Credits</a></li>
                         <li><a href="/advisory_board" title="Advisory Board">Advisory Board</a></li>
                         <li><a href="/faq" title="FAQ">FAQ</a></li>
                         <li><a href="/about_us" title="About Us">About Us</a></li>
                         <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                         </ul></td>
                   </tr>
                   </table></td>
                <td width="62%">&nbsp;</td>
             </tr>
          </table></td>
       </tr>      
        <tr>                   
            <td colspan="3" align="left" valign="top" class="bodyback">            
                <table width="100%" border="0" cellspacing="0" cellpadding="16">                              
                    <tr>                                     
                        <td width="3%" align="center" valign="top">&nbsp;</td>                                     
                        <td width="36%" align="center" valign="top">                        
                            <!-- InstanceBeginEditable name="EditRegion4" -->                                            
                            <table width="310" border="0" cellspacing="0" cellpadding="0">                                                   
                                <tr>                         <td>                                    
                                        <a href="/events">                                        
                                            <img src="images/mhsat.jpg" alt="Mental Health and Substance Abuse Training" width="310" height="188" border="0" /></a></td>                                                   
                                </tr>                                            
                            </table>                                         
                            <!-- InstanceEndEditable --></td>                                     
                        <td width="57%" align="left" valign="top">                        
                            <!-- InstanceBeginEditable name="EditRegion3" -->                   <h1>Frequently Asked Questions</h1>                                            
                            <p>                               
                                <span class="accent">Can I get education credits for attending?                              
                                </span><br />                      Yes. The sessions qualify for CEU, CME, and POST credit. The conference agenda indicates with credits apply to the sessions.                          
                            </p>                                            
                            <p>                            
                                <em><strong>Note on CME credits:</strong>                            
                                </em>&nbsp; This activity has been approved by Wyoming Medical Center for up to 1.5 hours of continuing medical education in Category 1. Each physician should claim only the number of hours actually spent in this activity. This activity has been planned and implemented in accordance with the Essential areas and policies of the Wyoming Medical Society through the joint sponsoring of Wyoming Medical Center and the TA Health Education Foundation. Wyoming Medical Center is accredited by the Wyoming Medical Society to provide continuing medical education for physicians.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">Do I have to attend all the sessions?                              
                                </span><br />                      No. We've designed the training so that every mental health care constituent can find specific presentations that will help you meet Wyoming's mental health and substance abuse needs.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">How do I get the Education Credit?                              
                                </span><br />                      To get your education credit, you must have a proctor sign off on your attendance form.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">How do I know which sessions to attend?                             
                                </span><br />                      The training is divided into two, 2-day units.                         
                            </p>                                            
                            <p> <strong>Unit 1:</strong>&nbsp; The first unit is designed for doctors, nurses, physician assistants, pediatricians and mental health counselors. It addresses topics such as the challenge of diagnosing co-occurring mental health and substance abuse problems, the diagnosis and treatment of children's mental health disorders, and pharmaceutical intervention in cases of addiction.                         
                            </p>                                            
                            <p> <strong>Unit 2:</strong>&nbsp; The second unit is designed for allied health care professionals, law enforcement officials, and anyone interested in preventing prescription drug abuse. It addresses topics such as lawful prescribing, the prevention of diversion, the science of addiction, and pharmacological intervention in the treatment of prescription drug addiction.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">How do I register?                              
                                </span><br />                      You can                              
                                <a href="/register">register on-line by clicking here. </a>                        
                            </p>                                            
                            <p>                            
                                <span class="accent">I may need to leave a session early. Is that allowed?                              
                                </span><br />                      If you are attending to receive a CEU, CME, or POST credit, you must stay for the entire session and have the proctor sign your attendance form. If you are not planning to apply for education credit, you may leave early.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">What do I need to bring? (Note pad, pen etc.)                              
                                </span><br />                      Please bring a note pad and pencil for taking notes. We encourage you to bring questions as well to facilitate lively discussion.                          
                            </p>                                            
                            <p>                              
                                <span class="accent">What is planned for lunch?                              
                                </span><br />                      Lunch will be on your own; we are not providing any food or beverages.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">What is the dress code at the training?                              
                                </span><br />                      Since you will be attending trainings during your normal workday, and will likely be stepping in and out of the sessions, you should wear whatever your normally wear to work.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">Which hospitals are providing conference rooms for the training?                              
                                </span><br />                                                   
                                <a href="/conference_locations">Click here for a list of participating hospitals.</a>                        
                            </p>                                            
                            <p>                            
                                <span class="accent">Will there be refreshments or should I bring my own drinks?                              
                                </span><br />                      Please plan to bring your own drinks and snacks.                          
                            </p>                                            
                            <p>                            
                                <span class="accent">What is the cost of the training?                              
                                </span><br />                      The training is absolutely free. It is being paid for through a grant from the State to help health care practitioners in the state implement.                                     
                            </p>                                         
                            <!-- InstanceEndEditable --></td>                                     
                        <td width="4%" align="left" valign="top">&nbsp;</td>                              
                    </tr>                       
                </table></td>            
        </tr>            
        <tr>                   
            <td width="375" align="center" valign="middle">            
                <a href="/credits" class="credits"><strong>&nbsp;&nbsp; Looking for your CEU/CME credits? CLICK HERE</strong></a></td>                   
            <td width="398" align="center" valign="middle">&nbsp;</td>                   
            <td width="182" align="right" valign="bottom">&nbsp;</td>            
        </tr>            
        <tr>                   
            <td height="40" colspan="3" align="center" valign="middle">            
                <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">                              
                    <tr>                                     
                        <td height="50" align="center" class="footer">                        
                            <a href="/index">Home</a> &bull;                          
                            <a href="/conference_locations">Conference Locations</a> &bull;                          
                            <a href="/events">Events</a> &bull;                          
                            <a href="/facilities">Facilities</a> &bull;                          
                            <a href="/program_suggestions">Program Suggestions</a> &bull;                          
                            <a href="/video">Video Streaming</a>                        
                            <a href="/credits"><br />                Continuing Education Credits</a>            &bull;                          
                            <a href="/advisory_board">Advisory Board</a> &bull;                          
                            <a href="/faq">FAQ</a> &bull;                          
                            <a href="/about_us">About Us</a> &bull;                          
                            <a href="/contact_us">Contact Us</a></td>                
                    </tr>            
                </table>                          
                <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">                              
                    <tr>                              
                    </tr>                              
                    <tr>                                     
                        <td height="58" align="center" valign="top" class="copyright"><br />                                &copy;2011 TA Health Education Foundation. Website by                          
                            <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>                              
                    </tr>                       
                </table></td>            
        </tr>     
    </table>     
    <script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"/js/SpryAssets/SpryMenuBarRightHover.gif"});
    </script>          

{% endblock %}    