{% extends 'home.html.twig' %}

{% block body %}
    <table width="955" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="3" align="center" valign="top"><a href="/index"><img src="images/masthead2.gif" alt="TA Health Education Foundation" width="919" height="166" border="0" /></a></td>
        </tr>
        <tr>
          <td height="275" colspan="3" align="left" valign="middle" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td width="34%" align="center" valign="middle"><table width="65%" border="0" align="right" cellpadding="0" cellspacing="0">
                   <tr>
                      <td align="left" valign="middle" class="menucopy">
                      <ul id="MenuBar1" class="MenuBarVertical">
                         <li><a href="/index" title="Home">Home</a>                        </li>
                         <li><a href="/conference_locations" title="Conference Locations">Conference Locations</a></li>
                         <li><a href="/events" title="Events">Events</a>                        </li>
                         <li><a href="/facilities" title="Facilities">Facilities</a></li>
                         <li><a href="/program_suggestions" title="Program Suggestions">Program Suggestions</a></li>
                         <li><a href="#" title="Video Streaming" class="MenuBarItemSubmenu">Video Streaming</a>
                            <ul>
        		   <li><a href="#" title="Archive Video Streaming" class="MenuBarItemSubmenu">Video Streaming Archive</a>
        			<ul>
                                   <li><a href="/2009broadcast" title="2009 Mental Health and Substance Abuse Training seminar ">2009 Mental Health and Substance Abuse Training seminar </a></li>
            	                    <li><a href="/2011broadcast" title="2011 Mental Health and Substance Abuse Training seminar">2011 Mental Health and Substance Abuse Training seminar</a></li>
        <li><a href="/2012broadcast" title="2012 Mental Health and Substance Abuse Training seminar">2012 Mental Health and Substance Abuse Training seminar</a></li>
                                   </ul>
                               </li>
        		   <!--li><a href="/2012broadcast" title="Live Video Streaming">Live Video Streaming</a></li-->
        		</ul>
        	     </li>
                         <li><a href="/credits" title="Continuing Education Credits">Continuing Education Credits</a></li>
                         <li><a href="/advisory_board" title="Advisory Board">Advisory Board</a></li>
                         <li><a href="/faq" title="FAQ">FAQ</a></li>
                         <li><a href="/about_us" title="About Us">About Us</a></li>
                         <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                         </ul></td>
                   </tr>
                   </table></td>
                <td width="62%">&nbsp;</td>
             </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="3" align="left" valign="top" class="bodyback"><table width="100%" border="0" cellspacing="0" cellpadding="16">
             <tr>
                <td width="3%" align="center" valign="top">&nbsp;</td>
                <td width="36%" align="center" valign="top">               <table width="310" border="0" cellspacing="0" cellpadding="0">
               			 <tr>
                         <td><!-- a href="/2012broadcast"><img src="images/Button_live.jpg" alt="" /></a --><br />
        <br />
        </td>
                      </tr>
                      <!-- tr>
                         <td height="70" align="center" valign="middle" bgcolor="red"><a href="/register" class="white">CLICK HERE to register for the <br/>
                                        2012 Mental Health and <br/>
                                        Substance Abuse Training</a></td>
                      </tr -->
                      <tr>
                         <td align="center" valign="middle">&nbsp;</td>
                      </tr>
                      <tr>
                         <td><a href="/events"><img src="images/mhsat.jpg" alt="Mental Health and Substance Abuse Training" width="310" height="188" border="0" /></a></td>
                      </tr>
                   </table>
                </td>
                <td width="57%" align="left" valign="top">               <h1>Welcome</h1>
                   <p>The TA Health Education Foundation (TA HEF) is devoted to bringing cutting edge medical education to the nation's rural health care providers. The TA HEF works closely with all health care constituents to deliver relevant and timely programming. Using state-of-the-art video conferencing and an unprecedented fiber-optic broadcast capability, we make it possible for professionals in remote areas to access the training they need, either at our facility or worldwide via live or recorded internet video feeds.</p>
                </td>
                <td width="4%" align="left" valign="top">&nbsp;</td>
             </tr>
          </table></td>
        </tr>
        <tr>
          <td width="375" align="center" valign="middle"><a href="http://www.tahealth.org/login" class="credits"><strong>&nbsp;&nbsp; Looking for your CEU/CME credits? CLICK HERE</strong></a></td>
          <td width="398" align="center" valign="middle">&nbsp;</td>
          <td width="182" align="right" valign="bottom">&nbsp;</td>
        </tr>
        <tr>
          <td height="40" colspan="3" align="center" valign="middle"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                <td height="50" align="center" class="footer">
        	<a href="/index">Home</a> &bull; 
        	<a href="/conference_locations">Conference Locations</a> &bull; 
        	<a href="/events">Events</a> &bull; 
        	<a href="/facilities">Facilities</a> &bull; 
        	<a href="/program_suggestions">Program Suggestions</a> &bull; 
        	<a href="/2012broadcast">Live Video Streaming</a><br />
        
        	<a href="/credits">Continuing Education Credits</a> &bull; 
        	<a href="/advisory_board">Advisory Board</a> &bull; 
        	<a href="/faq">FAQ</a> &bull; 
        	<a href="/about_us">About Us</a> &bull; 
        	<a href="/contact_us">Contact Us</a>
           </td></tr></table>
             <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
             </tr>
             <tr>
                <td height="58" align="center" valign="top" class="copyright"><br />               
                &copy;2011 TA Health Education Foundation. Website by <a href="http://www.sheridandesign.us" target="_blank">Sheridan Design</a>.</td>
             </tr>
          </table></td>
        </tr>
        </table>
        <script type="text/javascript">
        var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"/js/SpryAssets/SpryMenuBarRightHover.gif"});
        </script>

{% endblock %}
